/*background-mage, border, margin, padding, width,height*/

body{
        background-image: url("images/u.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        border: 2px solid red;
        /* border: 2px, solid, red;  ->  same as these 3 below.    
        border-style: solid;
        border-color: red;
        border-width: 2px;
        */
        margin: 100px;
   
}

h1{
        /*Add a linear gradient background to the body*/
        background: linear-gradient(to right, skyblue, lightgreen);
        /*Make it not to repeat it self all the way down to the page with multiple blockof gradients, instead use the original all the way down to the page,*/
        background-repeat: no-repeat;
        /*Make the gradient background adjust automatically with the colors.*/
        background-attachment: fixed;
}

p{
        /*Add a linear gradient background to the body*/
        background: linear-gradient(to left, skyblue, lightgreen);
        /*Make it not to repeat it self all the way down to the page with multiple blockof gradients, instead use the original all the way down to the page,*/
        background-repeat: no-repeat;
        /*Make the gradient background adjust automatically with the colors.*/
        background-attachment: fixed;
}

#box1{
      border: 5px solid;
      width: 250px;
      height: 250px;
      font-size: 22px;
      background: greenyellow;
      /*Create Space from Outside*/
      padding: 50px;
      /*Create Space from Inside the block of code(tags).*/
      margin-top: 50px;
      margin-left: 50px;  
}

#box2{
        border: 5px solid;
        width: 250px;
        height: 250px;
        font-size: 22px;
        background: greenyellow; 
        padding: 10px; 
  }

  img{
        float: right;
        width: 100px;
  }

  .box{
        width: 100px;
        height: 100px;
        border: 1px solid;
        font-size: 40px;
        text-align: center;
        background: tomato;
        /*This will make elements float to the left and wrapp elements next to this element.*/
        float: left;
  }