
/*Everything that is using an 'a tag' and is a link changes the color to lawngreen.
 The styles inside the declaration block should be applied to unvisited links.*/
a:link{
  color: red;
}

/*This style should be applied to visited links.*/
a:visited{
  color: grey;
}

/*This style should be applied when we hover to 'a' tags.*/
a:hover{
  color: red;
}

/*
Whenever a user clicks on a link and holds down the mouse button,
or taps on a link on a touchscreen device,
the text color of the link will be changed to yellow.*/
a:active{
  color: yellow;
}

button:active{
  background-color: black;
  color: white;
}

/*Element 2 in the list will have a yellow background*/
li:nth-child(2){
  background-color: yellow;
}
/*
li:nth-child(even) {
  background-color: yellow;
}

li:nth-child(odd) {
  background-color: yellow;
}
*/

