
/* HEADER */

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* Make the fixed(sticky) header*/
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  border-bottom-color: rgb(221, 219, 219);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  z-index: 100; /* the header will appear on top of all*/
}

.sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
}

.left-section{
  width: 200px;
  display: flex; /* to use some flex box properties such as align-items, we need to also turn this div into display: flex*/
  align-items: center;
}

.hamburger-menu{
height: 30px;
margin-left: 20px;
margin-right: 20px;
}

.youtube-logo{
  height: 25px;
}

.middle-section{
  flex: 1;
  margin-left: 50px;
  margin-right: 30px;
  max-width: 500px;  /* maximum width this element can go is 500px*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  height: 40px;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 12px;
  border-style: solid;
  border-color: rgb(187, 187, 187);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  width:0; /* this works when we are using a flex element. When we shrink our page this element is going to be shrinked down to 0.*/
}


.search-button{
height: 46px;
width: 66px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 7px;
border-width: 1px;
border-style: solid;
border-color: rgb(187, 187, 187);
margin-left: -1px;
}

.search-icon{
  width: 25px;
  height: 25px;
}

.voice-search-button{
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: rgb(218, 217, 217);
}

.voice-search-icon{
  width: 25px;
  height: 25px;
}

.right-section{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink:0;  /* prevent flex-box shrinking*/
}

.upload-icon{
  width: 24px;
  height: 24px;
}

.apps-icon{
  width: 24px;
  height: 24px;
}


.notification-icon-container{
position: relative;
}


.notification-icon{
  width: 24px;
  height: 24px;
}

.notification-count{
  background-color: red;
  color: white;
  position: absolute;
  top: -3px;
  right: -3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50px;
}

.current-user-picture-icon{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}



/* BODY*/

body {
  margin: 0;  /* make body margin = 0*/
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}


.grid_container {
  /* we wrapped every element inside this big div container and display: grid to control the way our elements display. */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 25px;
}

.thumbnail {
  width: 100%;
}


.video-preview {
  /* width: 300px; */
}

.videoProfileAndInfo {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}



.profile-picture {
  width: 100%;
  border-radius: 100px;
}



.video-info {
  /* display: inline-block;
  width: 236px; --> we remove these both properties cuz we used at .videoProfileAndInfo display grid, and we specified 2 columns. */
  /* margin-left: 10px;  --> we remove this and add at .videoProfileAndInfo div, column-gap = 10px.*/
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}


.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.time{
background-color: black;
color: white;
position: absolute;
right: 10px;
bottom: 10px;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
font-size: 12px;
font-weight: 500;
}