

  p {
      font-family: Roboto, Arial;
      margin-top: 0;
      margin-bottom: 0;
    }

    .thumbnail {
      width: 300px;   /* set the width of the image. When we dont specify the height, image is going to get adjust automatically based on width.*/
      /* height: 300px; */
      /* object-fit: cover; ->this determines what happens if our image size specified above doesnt match our image size */
      /*object-position: left; -> position the image in the area 300px * 300px from left-right or top-bottom*/
      /* object-fit: contain; the whole image is going to get shrink to be contained inside our dimensions specified */
      /* border-width: 2px;
      border-style: solid;
      border-color: red; */
    }

    .search-bar {
      font-size: 20px;
      margin-left: 12px;
      display: block;   /* takes the full width of the screen.  */
    }

    .video-preview {
      width: 300px;
      display: inline-block;
      vertical-align: top;
      /* margin-right: 15px; */
    }
    

    .video-title {
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 12px;
    }

    .channel-picture {
      display: inline-block;
      width: 50px;
      vertical-align: top;
    }

    .video-info {
      display: inline-block;
      width: 236px;
      margin-left: 10px;
    }
                
    .video-author {
      font-size: 12px;
      color: rgb(96, 96, 96);
      margin-bottom: 4px;
      }
        
      .video-stats {
       font-size: 12px;
       color: rgb(96, 96, 96);
      }

    .profile-picture {
      width: 100%;
      border-radius: 100px;
    }

    .thumbnail-row {
      margin-bottom: 12px;
    }

